
body{

    margin: 0;
    padding: 0;
}
#principal img{
    width: 100%;
    padding: 0%;

}
#navbar{
    height: 50px;
    width: 100%;
    background-color: brown;
   
}
#menu li {
    padding-top: 12px;
}

#navbar > ul{
    justify-content: center;
    display: flex
  
}
li{
    margin: 0 .75rem;
    list-style: none;
   
}
li a {
    color:white;
    text-decoration: none;
    list-style: none;
    font-family: Arial;
    font-size: 12pt;
}
li a:hover{
    color: black;
    cursor: pointer;
}
#fila2{
  margin-top: 60px;
}
#bienvenido h5{

    font-family:"Latin Modern Roman";
    font-style: oblique;
    font-weight: bold;
    color: brown;
    text-align: center;
    font-size: 42px;
}
#parrafo p{
    font-size: 24px;
    text-align: center;
    font-family:"Latin Modern Roman";
    color: black;
}
.footer{

    background-color: brown;
    height: 100px;
    width: 100%;
    font-family:"Latin Modern Roman";
    
}
#contru{

    text-align: center;
    color: white;
    font-size: 10px;

}
#creador{
    text-align: center;
    color: white;
    font-size: 10px;

}
#redesSociales{
   text-align: center;
   font-size: 25px;
  
}
#redesSociales i{
    text-decoration: none;
    list-style: none;
    color: rgb(57, 57, 119);
}
#check{
  display: none;
}
.checkbtn{
    font-size: 45px;
    color: brown;
    float: right;
    line-height: 44px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}
.checkbtnCerrar{
display: none;
}
@media only screen and (min-width:480px) and (max-width:767px){

    .checkbtn{
        display: block;
        position:relative;
        bottom: 150px;
    }
    #navbar ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:brown;
        bottom: 0px;
        left: -100%;
        text-align: center;
        display: inline-block;
        transition: all .5s;
    }
    #navbar li {
        padding-top: 50px;
        font-size: 14pt;
    }
 
    li a:hover, li a.active{
        background: none;
        color: black;
    }
    
    #check:checked ~ ul{
        left:0;
    }
    #parrafo p{

     font-size: 15px;

    }
    #bienvenido h5 {
        font-size: 30px;
    }
    #fila2 {
        margin-top: 15px;
    }
    #navbar {
        height: 10px;
    }
    #check:checked ~ .checkbtnCerrar{
        display: block;
        position: relative;
        z-index:3;
        float: right;
        bottom: 158px;
        font-size: 45px;
        color: white;
    }    
}

@media only screen and (min-width:360px) and (max-width:479px){

    .checkbtn{
        display: block;
        position:relative;
        bottom: 110px;
    }
    #navbar ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:brown;
        bottom: 0px;
        left: -100%;
        text-align: center;
        display: inline-block;
        transition: all .5s;
    }
    #navbar li {
        padding-top: 50px;
        font-size: 14pt;
    }
 
    li a:hover, li a.active{
        background: none;
        color: black;
    }
    
    #check:checked ~ ul{
        left:0;
    }
    #parrafo p{

     font-size: 15px;

    }
    #bienvenido h5 {
        font-size: 30px;
    }
    #fila2 {
        margin-top: 15px;
    }
    #navbar {
        height: 10px;
    }
    #check:checked ~ .checkbtnCerrar{
        display: block;
        position: relative;
        z-index:3;
        
        padding-left: 295px;
        bottom: 140px;
        font-size: 45px;
        color: white;
    } 
}
