
#servicio h5 {
    text-align: center;
    color: brown;
    font-family:"Latin Modern Roman";
    font-style: oblique;
    font-weight: bold;
    font-size: 40px;
    margin-top: 50px;
}
#parrafoServicio p{
    text-align: center;
    color: black;
    font-family:"Latin Modern Roman";
    font-size: 17pt;
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 10px;
}


.slider {

    width: 70%;
    overflow: hidden;
    padding: 0;
    
}
.slider ul {
    padding: 0;
    display: flex;
    animation: cambio 10s infinite linear;
    animation-direction: alternate;
    width: 400%;
}
#menuCarrusel li {
    width: 100%;
    list-style: none;
}
#menuCarrusel ul{

    width: 100%;
}
#menuCarrusel img {
    
    height: 100%;
    width: 100%;
    
    clip-path: polygon(0 1%, 100% 0, 84% 100%, 0% 100%);
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
@media only screen and (min-width:480px) and (max-width:767px){

    #servicio h5 {

    margin-top: 15px;

    }
    #parrafoServicio p{
        padding: 2%;
        font-size: 20px;
        padding-top: 0%;
    }
    .slider {

        margin: auto;
        padding-bottom: 30px;
        

    }
    #menuCarrusel img {
        clip-path: none;
    }
}

@media only screen and (min-width:360px) and (max-width:479px){

    #servicio h5 {

        margin-top: 15px;
    
        }
        #parrafoServicio p{
            padding: 2%;
            font-size: 20px;
            padding-top: 0%;
        }
        .slider {
    
            margin: auto;
            padding-bottom: 30px;
            
    
        }
        #menuCarrusel img {
            clip-path: none;
        }
    
    

}